<%- include('../partials/header') %>

<table>
    <tr>
        <th>Week (Choose start of week)</th>

    </tr>
    <br>
    <% schedules.forEach(schedule => { %>
        <tr>
            <td>
                <%=schedule.week %>
            </td>
                <td><a href="/schedules/<%=schedule._id%>">Create/Edit</a></td>
        </tr>
        <% }) %>
    <tr>
       
        <form action="/schedules" method="POST">
        <td> 
                <label for="date">Start:
                    <input type="date" name="week">
                </label>
            </td>
            <td>
                <input type="submit" value="Submit">
            </td>      
        </form>
    </tr>
    
</table>



<%- include('../partials/footer') %>