<%- include('../partials/header') %>
<div>
    <h4>Department: </h4>
    <h4>Week:</h4>
</div>

<table>
    <tr>
        <th>Employee</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>

    <tr>
        
            
            <td>Junyi</td>
            <td>shift</td>
            <td>shift</td>
            <td>shift</td>
            <td>shift</td>
            <td>shift</td>
            <td>shift</td>
            <td>shift</td>
       
        
    <tr>
        <td>Tom</td>
        <td>shift</td>
        <td>shift</td>
        <td>shift</td>
        <td>shift</td>
        <td>shift</td>
        <td>shift</td>
        <td>shift</td>
    </tr>

</table>




<%- include('../partials/footer') %>