body {
  padding: 50px;
  font-family: 'Cinzel', serif;
  background-color: #D6E9F2;
}
.table {
  /* border-collapse: collapse;
  border: 2.5px solid #023499; */
}
table th {
  border: 2.5px solid #023499;
}
.border {
  border: 2.5px solid #023499;
}
.active {
  color: red;
}
.title {
  text-align: center;
}
h4 {
  text-align: center;
}

a {
  color: #00B7FF;
}
.navbarbox {
  background-color: rgb(0, 122, 204);
  margin: -60px -60px 0 -60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
.navbarbox a {
  padding: 20px;
  color: #ebf6fa;
}
.navbarbox a:hover {
  background-color: rgb(167, 162, 162);
}
.navbarbox a.active {
  color: rgb(15, 15, 15);
}
.employeebox {

}
.footer {
  
  
}
#footerbar {
  display: flex;
  background-color: #CCFFCB;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 45px;
  align-items: center;
  justify-content: center;
}