<%- include('../partials/header') %>

<h3>Possible Shifts</h3>

<% shifts.forEach(function(shift) { %>
    <ul>
        <li><%= `${shift.startTime} - ${shift.endTime}` %></li>
    </ul>

<% }) %>


<form action="/shifts" method=POST>

    <label for="date">Start:
        <input type="time" name="startTime">
    </label>
    
    <label for="date">End:
        <input type="time" name="endTime">
    </label>
    <input type="submit" value="Submit">
</form>



<%- include('../partials/footer') %>
